body {
    padding-top: 80px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.pagination-toolbar {
    margin-top: 0;
    margin-bottom: 15px;
}

.no-margin {
    margin: 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashed {
    border-style: dashed;
}

.online {
    color: limegreen;
}

.offline {
    color: red;
}
